body {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px

}

h1 {
    color:#65ce37;
}

label {
    display:block;
    padding:8px;
}

button {
    color:white;
    background-color:#65ce37;
    padding:8px;
    margin:8px;
}